{% extends 'base.html' %}

   {% block content %}
    <html>
    <head>
        <title>BALIKPAPAN</title>
    </head>
    <body>
        <h1>Kota Balikpapan</h1>
        <h2>Sejarah Balikpapan</h2>
        <p>Balikpapan berawal dari sebuah perkampungan nelayan di tepi Selat Makassar pada abad ke-19. Pengeboran pertama sumur minyak di kota ini dimulai pada 10 Februari 1897, yang kemudian ditetapkan sebagai hari jadi Kota Balikpapan. Pada tahun 1907, Bataafsche Petroleum Maatschappij (BPM) mendirikan kantor di kota ini, yang kemudian diikuti oleh masuknya investasi dari berbagai perusahaan multinasional. Perekonomian kota yang tumbuh sangat pesat memancing banyak pendatang dan ekspatriat ke Balikpapan. Saat ini, Balikpapan telah menjadi kota besar yang multi-etnis dan sering dinobatkan sebagai salah satu kota paling layak huni di Indonesia.</p>
        <blockquote>https://id.wikipedia.org/wiki/Kota_Balikpapan</blockquote>
        <p lang="en-US" translate="yes">Penduduk asli kota Balikpapan adalah <q>suku Dayak tapi mereka mulai tergeser karena banyak para pendatang yang menetap di Balikpapan setelah kota Balikpapan menjadi pusat Industri di Kalimantan Timur.</q></p>
        <p>Suku yang banyak menempati Kota Balikpapan saat ini adalah :</p>
        <ul>
            <li>Suku Banjar</li>
            <li>Suku Bugis</li>
            <li>Suku Jawa</li>
        </ul>
        <ol>
            <li>Suku Banjar</li>
            <li>Suku Bugis</li>
            <li>Suku Jawa</li>
        </ol>
        <ol type="I">
            <li>Suku Banjar</li>
            <li>Suku Bugis</li>
            <li>Suku Jawa</li>
        </ol>
        <ol type="A">
            <li>Suku Banjar</li>
            <li>Suku Bugis</li>
            <li>Suku Jawa</li>
        </ol>
        <table border="1">
            <tr>
                <th>No</th>
                <th>Nama Suku</th>
                <th>Asal</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Suku Banjar</td>
                <td>Kalimantan Selatam</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Suku Bugis</td>
                <td>Sulawesi</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Suku Jawa</td>
                <td>Jawa</td>
            </tr>
        </table>
        <h2>Geografis</h2>
        <p><b>Kota Balikpapan berada dipinggir <i>pantai</i> sehingga kota Balikpapan mudah diakses oleh <em>pendatang</em>. Mereka bisa datang dari laut, udara, dan darat</b>.</p>
    <figure>
    <pre>
    Hymne Balikpapan

    Anugerah yang Kau berikan

    Pada kami Kota Balikpapan
    Terbentang Indah dan menawan
    Antara hutan bukit dan lautan

    Rasa syukur kami panjatkan

    UntukMu Tuhan Yang Maha Esa
    Membangun kota tercinta
    Bersih indah aman dan nyaman

    Balikpapan Balikpapan

    Ku Bangun Kujaga Kubela
    Balikpapan Balikpapan
    Terima kasih Tuhan tercinta

    Rasa syukur kami panjatkan

    UntukMu Tuhan Yang Maha Esa
    Membangun kota tercinta
    Bersih indah aman dan nyaman

    Balikpapan Balikpapan

    Ku Bangun Kujaga Kubela
    Balikpapan Balikpapan
    Terima Kasih Tuhan Tercinta


    Tuhan Tercinta  
    </pre>
    <figcaption>Hymne Balikpapan</figcaption>
    </figure>
    </body>
</html>
{% endblock content %}