{% extends 'base.html' %}

    {% block content %}    
    <head>
    <title>PROFILE</title>
    </head>
        <body>
        <h1>PROFILE</h1>
        <h2>Data Pribadi</h2>
        <p>Nama                    :   Hendri</p>
        <p>Jenis Kelamin           :   Laki-laki</p> 
        <p>Tempat, Tanggal Lahir   :   Rantau, 4 november 1993</p>
        <p>Kewarganegaraan         :   Indonesia</p>
        <p>Tinggi, Berat Badan     :   170cm, 80kg</p>
        <p>Agama                   :   Islam</p>
        <p>Alamat Lengkap          :   Gang Permadi RT.38 no.32 Manggar Balikpapan Timur 76117</p>
        <p>No. HP                  :   0895704071125</p>
        <p>E-mail                  :   hendri@students.universitasmulia.ac.id</p>
        <h2>Pendidikan</h2>
        <h3>Formal</h3>
        <p>1999 - 2005             :   SDN 1 Tambak Bitin</p>
        <p>2005 - 2008             :   SMPN 1 Daha Utara</p>
        <p>2009 - 2012             :   SMKN 5 Balikpapan</p>
        <p>2021 - sekarang         :   Universitas Mulia Balikpapan</p>
        <h3>Non-Formal</h3>
        <p>2013                    :   Pelatihan Mesin Produksi di BLKI Balikpapan</p>
        <p>2015                    :   Pelatihan AK3 Umum di PT. Harta Rabel Lindo</p>
        <p>2017                    :   Pelatihan Operator Crane di Alkon Balikpapan</p>
        <h2>Pengalaman Kerja</h2>
        <p>2013                    :   Di PT. Duta Krasi Teknik sebagai Teknisi Hose Fitting</p>
        <p>2014 - 2015             :   Di PT. Adi Citra Anggana sebagai Teknisi Hose Fitting</p>
        <p>2017 - 2018             :   di PT. Advantage SCM Sebagai Custody</p>
    </body>
</html>
{% endblock content %}